*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #666;
  padding: 10px;
  overflow: auto;
  position: relative;
}

.film-poster {
  float: left;
  width: 30%;
}
.film img {
  width: 100%;
}

.fa-clock-o {
  position: absolute;
  left: 20px;
  top: 20px;
  color: red;
}

.film-details {
  float: left;
  width: 70%;
  padding-left: 10px;
}

.action-like {
  position: absolute;
  top: 5px;
  right: 10px;
}

.fa-heart {
  color: red;
}

.fa-bookmark {
  color: grey;
}

.fa-star {
  color: yellow;
}
